main{
  text-align:center;
}

#timer{
  display:flex;
  justify-content:center;
  align-items:center;
  font-size:1000%;
  background-color: white;
}

.btn{
  font-size:40px;
  margin:10px;
}

#state{
  display:block;
  padding-top:1em;
  font-size:40px;
}

#memo{
  font-size:1em;
  margin:1em;
}